
.specific h5{
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
   
}

.specific span{
    font-weight: lighter;
}
.specific__button{
    margin: 20px 0 ;
}
.specific__button button{
    padding:5px 10px;
    width: 100px;
    box-shadow:5px 5px rgb(228, 228, 228);
    border: none;
    background-color: white;
}

.specific__country_details{
    margin: 40px 0;
}
.specific__country_flag img{
    width: 100%;
    height: 100%;
    
}
.specific__country_heading{
    margin: 15px 0;
}
.details__container{
    margin: 25px 0;
}
.languages{
    display: inline-block;
    margin-left: 5px;
}

.border__container{
    display: flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-between;
}
.border{
    padding: 7px 20px;
    border:none;
    box-shadow:5px 5px rgb(228, 228, 228);
  border: 1px solid #ccc;  

}
@media(min-width:766px){
    .specific__country{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: max-content;

    }
    .specific__country_flag{
        width: 45%;
    }
    .specific__country_details{
        width: 45%;
        margin: 0;
        padding: 0px 0;
    }
    .details{
        display: flex;
        height: max-content;
        justify-content: space-between;
        align-items: flex-start;
    }
    .details__container{
    margin: 5px 0;
}
}