.myForm{
    position: relative;
    top:30;
    left:10;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin:20px;
}
@media(max-width:740px){
    .myForm{
        flex-direction: column;
    }
}

.btn{
    margin:10px 0;
    width:100%;
    border: none;
    background-color: rgb(196, 36, 97);
    color:white;
    padding:10px;
    font-weight: 700;
    font-size:1rem;
    box-shadow:5px 5px rgb(236, 234, 234);
}
