.myForm{
    position: relative;
    top:30;
    left:10;
    display: flex;
    justify-content: space-between;
    margin:20px;
}

button{
    margin:10px 0;
    width:100%;
    border: none;
    background-color: rgb(131, 139, 19);
    color:white;
    padding:10px;
}