.selectButton{
    width: 100%;
    margin: 5px 0;
     box-sizing: border-box; 
}
select{
    width: 100%;
    padding:  0px 40px;  
    border: none;
    background-color: #fff;
     border: 1px solid #ccc;  
    /* box-shadow:5px 5px 5px 5px rgb(236, 236, 236, 236); */
    height:40px;
}


@media(min-width:740px){
    .selectButton{
        width: 50%;
    }
}
