
nav{
    background-color:white;
    color:hsl(209, 23%, 22%);
    box-shadow: 5px 5px rgb(236, 234, 234);
    position: sticky; 
    top: 0px;
    overflow: hidden;
    z-index:10; 
    width:100%;
    
}

.nav__header{
    font-size:1em;
}
#nav-flex{
    display:flex;
    justify-content: space-between;
    padding:20px;
}
.myContainer{
    width:90%;
    margin:0 auto;
    overflow:hidden;
}